# Kubernetes
node-token
.kube/

# Jetbrains #
.idea/

# MacOS #
.DS_Store# Editor swapfiles
.*.sw?
*~

# Vagrant stuff
acceptance_config.yml
boxes/*
/.vagrant
/website/.vagrant
/website/build
/vagrant-spec.config.rb
test/vagrant-spec/.vagrant/
.vagrant/
/vagrant
/pkg
data.db
vagrant-restore.db.lock
cmd/vagrant/Vagrantfile
binstubs/